
<br/>
<div class="container">
  <h2>Login form</h2><br/>
  <form #loginform="ngForm" (ngSubmit)="loginUser()"> <!-- 
  {{loginform.form.valid}}-->
	<small class="text-danger">{{msg}}</small>
	<div class="form-group">
      <label for="username">Email:</label>
      <input type="username" class="form-control" id="username" placeholder="Enter username" name="username" [(ngModel)]="account.username" required #username="ngModel"
		[class.is-invalid]="username.invalid && username.touched"
	  >
	  <small class = "text-danger" [class.d-none]="username.invalid || username.untouched"></small>
    </div><br/>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" [(ngModel)]="account.password" required #password="ngModel"
		[class.is-invalid]="password.invalid && password.touched"
	  >
    </div>
	<small class = "text-danger" [class.d-none]="password.invalid || password.untouched"></small>
  <br/><button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info">Login</button>
  </form>
</div>