<br/><div class="col-md-6 offset-md-3">
    <h3> Update User </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class ="form-control" id = "firstname"
                [(ngModel)] = "user.firstname" name = "firstname">
        </div>
        <br/>
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class ="form-control" id = "lastname"
                [(ngModel)] = "user.lastname" name = "lastname">
        </div>
        <br/>
        <div class="form-group">
            <label> Mobile</label>
            <input type="text" class ="form-control" id = "mobile"
                [(ngModel)] = "user.mobile" name = "mobile">
        </div>
        <br/>
        <div class="form-group">
            <label> Birthday</label>
            <input type="text" class ="form-control" id = "birthday"
                [(ngModel)] = "user.birthday" name = "birthday">
        </div>
        <br/>
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 